.centered
{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.rsvpcard
{
	text-align:center;
	color:#992088;
	font-family:"Georgia";
	font-size:larger;
	line-height:40px;
	/*background-image: url(images/cardstock.png);*/
	background-image: url(images/cardstockWithEnvelope.png);
	background-position: top center;
	background-repeat: no-repeat;
	/*background-size: 800px 880px;*/
	padding-top:25px;
}
.rsvpNameEmptyMessage
{
	display:none;
	position:absolute;
	top:-40px;
	left:180px;
}
.rsvpNameWrapper
{
	margin-top:40px;
	width:536px; height:55px;
	background: url(images/MUnderscore.png) top left no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	position:relative;
}
.rsvpNameText
{
	margin-left:70px;
	width:400px; height:40px;
	font-size:x-large;
	font-family: "Georgia";
	color:#992088;
	background:transparent;
	/*border-color:#DCDCDC;*/
}
.rsvpNameText:not(:hover)
{
	border:solid;
	border-width:2px;
	border-color:transparent;
}
.rsvpcheck
{
	display:none
}
.checklabel
{
	width:189px; height:54px;
	display:inline-block;
	cursor:pointer;
}
/*input[type=radio] + label.acceptchecklabel
{
	background: url(images/acceptsUnchecked.png) top left no-repeat;
}*/
input[type=radio] + label.acceptchecklabel
{
	background: url(images/acceptsChecked.png) top left no-repeat;
}
input[type=radio] + label.regretchecklabel
{
	background: url(images/regretsUnchecked.png) top left no-repeat;
}
/*input[type=radio]:checked + label.regretchecklabel
{
	background: url(images/regretsChecked.png) top left no-repeat;
}*/
.entreeCountInput
{
	width:50px;
	border-width:2px;
	border-style:solid;
	border-color: transparent transparent #992088 transparent;
	font-size:large;
	color:#992088;
	text-align:center;
	background:transparent;
}
.entreeCountInput + label
{
	display:inline-block;
	text-align:left;
	/*width:250px;*/
	min-width: 240px;
}
#rsvpSubmit
{
	margin-top:65px;
}
.card
{
  text-align:center;
}
/* two elements to do two backgrounds */
body
{
	background:url(images/leftbackground.png) top left no-repeat fixed;
}
#outmostwrapper
{
  margin-left:auto;
  margin-right:auto;
  background:url(images/rightbackground.png) top right no-repeat fixed;
}
.disabled
{
	display:none;
}
/* bridal party tier stuff*/
p.bridal
{
}

.bridal-divide
{
	margin-left:auto;
	margin-right:auto;
	clear:both;
	/* todo: background image and width/height */
	background: url(images/icing.png) top center no-repeat;
	width:600px;
	height:20px;
}

.bridal-right
{
	float:right;
	padding:10px 0px 10px 10px;
}

.bridal-left
{
	float:left;
	padding:10px 10px 10px 0px;
}

/* puzzle card divider */
.puzzle-divide
{
	margin-left:auto;
	margin-right:auto;
	background: url(images/icing.png) top center no-repeat;
	width:640px;
	height:20px;
	margin-top:20px;
	margin-bottom:20px;
}

/* cake topper moved down a little bit to be right on the icing */
.topper
{
	text-align:center;
	margin-bottom:-8px;
	/*z-index:2;
	height:125px;
	background:url(images/caketoppers.png) top center no-repeat;*/
}
/* original icing css, but IE doesn't support multiple backgrounds */
/*.icing
{
  background:
            url(images/leftcap.png) top left no-repeat,
            url(images/rightcap.png) top right no-repeat,
            url(images/icing.png) top center no-repeat;
  width:100%;
  height:22px;
  margin-left:auto;
  margin-right:auto;
}*/
.icing
{
	background:url(images/icing.png) top center no-repeat;
	width:100%;
	height:22px;
	margin:auto;
	padding:0;
	overflow:visible;
}
.icingleft
{
	background:url(images/leftcap.png) top left no-repeat;
	width:100%;
	height:22px;
	padding:0px;
}
.icingright
{
	background:url(images/rightcap.png) top right no-repeat;
	width:100%;
	height:22px;
}
/* original tier css, but IE doesn't support multiple backgrounds */
/*.tier
{
  background:url(images/tierside.png) 5% -40px repeat-y,
            url(images/tierside.png) 95% 0px repeat-y;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  cursor:pointer;
}*/
.tier
{
	background:#FFFFFF url(images/tierside.png) 5% -40px repeat-y;
	height:100px;
	margin:auto;
	cursor:pointer;
}
.tierinner
{
	background:url(images/tierside.png) 95% 0px repeat-y;
	height:100%;
	width:100%;
}
.tiercontent
{
  display:none;
  margin-left:auto;
  margin-right:auto;
  width:800px;
  cursor:default;
}
.contentpad
{
	padding-top:20px;
	padding-bottom:20px;
}
.tier1
{
  width:200px;
}
.tier2
{
  width:240px;
}
.tier3
{
  width:280px;
}
.tier4
{
  width:320px;
}
.tier5
{
  width:360px;
}
.tier6
{
  width:400px;
}
.tier7
{
  width:440px;
}
.tier8
{
  width:480px;
}
.tierlabel
{
  padding-top:35px;
  text-align:center;
  font-size:large;
  height:100%;
  cursor:pointer;
  color:#7300C4;
  /*color:#0000aa;*/
  font-style:italic;
}

/* Mad lib styles */
.madlibtier
{
	/*font: 80% "Trebuchet MS", sans-serif;*/
	/* margin: 50px;*/
}
#madlibaccordion
{
	font: 80% "Trebuchet MS", sans-serif;
	/*height:800px;*/
}
.madlib
{
	position: relative;
}
.madlibcontents
{
	position:relative;
}
.madlibtext
{
	/* text white to start so you can't see it */
	color:#FFFFFF;
	/* dashed underlines to give an idea of text layout */
	/* looks stupid */
	/*border-bottom: 1px dashed #BBBBBB;*/
}
.madlibtext::selection
{
	background-color:white;
	color:white;
}
.madlibtext::-moz-selection
{
	background-color:white;
}
/* style placeholder */
.placeholder
{
	color:#999;
	font-style:italic
}
label.placeholder
{
cursor: text;
padding: 2px 2px 2px 2px;
color: #999999;
}
.madlibtextfilled
{
	color:#000;
}
.madliblikessection
{
	float:right;
}
.madliblikeslabel
{
	/*margin-left:15px;*/
	text-decoration: underline;
}
.madliblikes, .madlibdislikes
{
	/*margin-left:4px;*/
	text-decoration: none;
}
.entry
{
	/* TODO center placeholder */
	text-align: center;
}
.pos
{
}
.ref
{
	border:none;
}
.entryfilled
{
	/* keep only bottom border
	/*border-width:0 0 1px 0;*/
	border-width:2px;
	border-style:solid solid inset solid;
	border-color:white white #AAAAAA white;
	/*padding:3px 2px 1px 2px;*/
	
	/* keep light borders so it's clear that nothing moved*/
	/*border-width:0 0 2px 0;*/
	/*border-width:2px;
	border-style: inset;
	border-color:#FFFFFF #EEEEEE #AAAAAA #EEEEEE;
	border-color:#EEE;
	padding:3px 2px 1px 2px;*/
	
	/*border-top-color:white;
	border-right-color:white;
	border-left-color:white;*/
	/*border-bottom-width: 1px;*/
	/*border-bottom-color: black;
	border-bottom-style: solid;*/
}
.go-div
{
	text-align: center;
}
.go-button
{
	/* TODO big flat gray style */
	/*width:70px;
	height:30px;
	background-color:#DEDEDE;
	border-width:1px;*/
	
	
	/* TODO trying to center, had to use go-div */
	/*margin-left:auto;
	margin-right:auto;*/
}
.username-input
{
	/*margin-left:20px;*/
}
.indent
{
	margin-left:20px;
}
.save-paragraph
{
	display:none;
}
.entry-list
{
	max-height: 100px;
	/*height:20px;*/
	overflow: auto;
	clear:left;
}
.submission
{
	/*height:5px;*/
	/*height:100%;*/
	width:100%;
	float:left;
}
.submission:nth-child(odd):not(.active-submission)
{
	background-color: #e0ecff;
}
.submission:hover
{
	/*background-color: #f8ebff;*/
	background-color: #F3FFAD;
}
.active-submission
{
	/*background-color: #f8ebff;*/
	background-color: #F8FF3B;
}
.subproptitle
{
	/*text-align: center;*/
}
.subproperty
{
	display:block;
	float:left;
	/*text-align: center;*/
}
.subdate
{
	width:200px;
}
.sublikes, .subdislikes
{
	width:70px;
	text-align: center;
	margin-right:20px;
}
.sublikes:not(.subproptitle)
{
	/*text-decoration: underline;
	color: #3333ff;
	cursor:pointer;*/
}
.subname
{
	width:150px;
}
.sublike
{
	float:right;
}
.sublikelink
{
	color:#3333ff;
	cursor:pointer;
}
.sublikelink:hover
{
	text-decoration:underline;
}
.subkey
{
	display: none;
}
.submit-hide
{
	display:none;
}
.loading
{
	opacity: 0.5;
	/*background-color: #EEEEEE;*/
}
.madlib-success
{
	color:green;
}
.hidden-fdbk
{
	display:none;
}
.clear
{
  clear:both;
}
.clearleft
{
	clear:left;
}
.clearright
{
	clear:right;
}
