.centered
  {/*text-align:center;*/}
/* two elements to do two backgrounds */
body
{
	background:url(images/leftbackground.png) top left no-repeat fixed;
}
#outmostwrapper
{
  margin-left:auto;
  margin-right:auto;
  background:url(images/rightbackground.png) top right no-repeat fixed;
}
.disabled
{
	display:none;
}
/* bridal party tier stuff*/
p.bridal
{
}

.bridal-divide
{
	margin-left:auto;
	margin-right:auto;
	clear:both;
	/* todo: background image and width/height */
	background: url(images/icing.png) top center no-repeat;
	width:600px;
	height:20px;
}

.bridal-right
{
	float:right;
	padding:10px 0px 10px 10px;
}

.bridal-left
{
	float:left;
	padding:10px 10px 10px 0px;
}

/* puzzle card divider */
.puzzle-divide
{
	margin-left:auto;
	margin-right:auto;
	clear:both;
	/* todo: background image and width/height */
	background: url(images/icing.png) top center no-repeat;
	width:640px;
	height:20px;
}

/* cake topper moved down a little bit to be right on the icing */
.topper
{
	text-align:center;
	margin-bottom:-8px;
	/*z-index:2;
	height:125px;
	background:url(images/caketoppers.png) top center no-repeat;*/
}
/* original icing css, but IE doesn't support multiple backgrounds */
/*.icing
{
  background:
            url(images/leftcap.png) top left no-repeat,
            url(images/rightcap.png) top right no-repeat,
            url(images/icing.png) top center no-repeat;
  width:100%;
  height:22px;
  margin-left:auto;
  margin-right:auto;
}*/
.icing
{
	background:url(images/icing.png) top center no-repeat;
	width:100%;
	height:22px;
	margin:auto;
	padding:0;
	overflow:visible;
}
.icingleft
{
	background:url(images/leftcap.png) top left no-repeat;
	width:100%;
	height:22px;
	padding:0px;
}
.icingright
{
	background:url(images/rightcap.png) top right no-repeat;
	width:100%;
	height:22px;
}
/* original tier css, but IE doesn't support multiple backgrounds */
/*.tier
{
  background:url(images/tierside.png) 5% -40px repeat-y,
            url(images/tierside.png) 95% 0px repeat-y;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  cursor:pointer;
}*/
.tier
{
	background:#FFFFFF url(images/tierside.png) 5% -40px repeat-y;
	height:100px;
	margin:auto;
	cursor:pointer;
}
.tierinner
{
	background:url(images/tierside.png) 95% 0px repeat-y;
	height:100%;
	width:100%;
}
.tiercontent
{
  display:none;
  margin-left:auto;
  margin-right:auto;
  width:800px;
  cursor:default;
}
.contentpad
{
	padding-top:20px;
	padding-bottom:20px;
}
.tier1
{
  width:200px;
}
.tier2
{
  width:240px;
}
.tier3
{
  width:280px;
}
.tier4
{
  width:320px;
}
.tier5
{
  width:360px;
}
.tier6
{
  width:400px;
}
.tierlabel
{
  padding-top:35px;
  text-align:center;
  font-size:large;
  height:100%;
  cursor:pointer;
  color:#7300C4;
  font-style:italic;
}

/* Mad lib styles */
.madlib p
{
	/* text white to start so you can't see it */
	color:#FFFFFF;
}

.clear
{
  clear:both;
}
